<div class="container-fluid">
  <h1>Edit Pokemon Entry:</h1>
  <hr>
  <%= form_for(@pokemon) do |f| %>
  
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :element_type %>
    <%= f.text_field :element_type %>
    <br>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <br>

    <%= f.submit %>
  <% end %> 
</div>